# Ansible
deployment/ansible/roles/azavea.*

*.retry

# Vagrant
.vagrant

# JS
node_modules/
npm-debug.log
bundle.js
vendor.bundle.js
bundle.js.map
dist/
yarn-error.log

# macOS
.DS_Store

# Terraform
deployment/terraform/.terraform
*.tfvars
*.tfstate*
*.tfplan
