# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Terraform
.terraform
.terraform/
*.tfplan
*.tfstate
*.tfstate.backup
*.tfvars

# Ansible
deployment/ansible/roles/azavea.*
*.retry

# Vagrant
.vagrant/

# Django
/src/django/static/
/src/django/data/
/src/django/media/
/.venv
/src/django/**/*.log

# JS
node_modules/
npm-debug.log
bundle.js
vendor.bundle.js
bundle.js.map
dist/
yarn-error.log
src/app/public/data

# Bundled JS
src/app/build

# macOS
.DS_Store

# Config
.env
.envrc

# Data
data/
!data/README.md
