[
  {
    "name": "${name}",
    "image": "${image}",
    "essential": true,
    "entryPoint": [
      "./manage.py"
    ],
    "environment": [
      {
        "name": "POSTGRES_HOST",
        "value": "${postgres_host}"
      },
      {
        "name": "POSTGRES_PORT",
        "value": "${postgres_port}"
      },
      {
        "name": "POSTGRES_USER",
        "value": "${postgres_user}"
      },
      {
        "name": "POSTGRES_PASSWORD",
        "value": "${postgres_password}"
      },
      {
        "name": "POSTGRES_DB",
        "value": "${postgres_db}"
      },
      {
        "name": "DJANGO_ENV",
        "value": "${environment}"
      },
      {
        "name": "DJANGO_SECRET_KEY",
        "value": "${django_secret_key}"
      },
      {
        "name": "DJANGO_LOG_LEVEL",
        "value": "${django_log_level}"
      },
      {
        "name": "DEFAULT_FROM_EMAIL",
        "value": "${default_from_email}"
      },
      {
        "name": "R53_PUBLIC_HOSTED_ZONE",
        "value": "${r53_public_hosted_zone}"
      },
      {
        "name": "IOW_TILES_HOST",
        "value": "${iow_tiles_host}"
      }
    ],
    "mountPoints": [],
    "portMappings": [],
    "volumesFrom": [],
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group": "log${environment}AppCLI",
        "awslogs-region": "${aws_region}",
        "awslogs-stream-prefix": "${lower(project)}-app-cli"
      }
    }
  }
]
