.edit-poly-marker {
    margin-left: -4px !important;
    margin-top: -4px !important;
    width: 8px !important;
    height: 8px !important;
    background-color: var(--chakra-colors-black);
    border: none;
    border-radius: 50%;
}

.edit-poly-marker-midpoint {
    opacity: 1 !important;
    background-color: var(--chakra-colors-gray-500);
}

/* Prevent pointer from showing up on polygon path hover */
.leaflet-overlay-pane g path.leaflet-interactive {
    cursor: inherit;
}

.leaflet-container.crosshair-cursor-enabled {
    cursor: crosshair;
}