.edit-poly-marker {
    margin-left: -4px !important;
    margin-top: -4px !important;
    width: 8px !important;
    height: 8px !important;
    background-color: var(--chakra-colors-black);
    border: none;
    border-radius: 50%;
}