.edit-poly-marker {
    margin-left: -4px !important;
    margin-top: -4px !important;
    width: 10px !important;
    height: 10px !important;
    background-color: var(--chakra-colors-black);
    border: 1px solid var(--chakra-colors-gray-200);
    border-radius: 50%;
}

.edit-poly-marker-midpoint {
    opacity: 1 !important;
    width: 8px !important;
    height: 8px !important;
    background-color: var(--chakra-colors-gray-600);
    border: 1px solid var(--chakra-colors-gray-200);
}

/* Prevent pointer from showing up on polygon path hover */
.leaflet-overlay-pane g path.leaflet-interactive {
    cursor: inherit;
}

.leaflet-container.crosshair-cursor-enabled {
    cursor: crosshair;
}

.leaflet-container {
    font-family: 'Inter', sans-serif;
}

/* Leaflet.DistortableImage overrides */
.ldi-icon {
    display: inline;
}

.leaflet-toolbar-icon.selected-mode {
    background-color: var(--chakra-colors-gray-500) !important;
}

.ldi .leaflet-popup-toolbar {
    border: 0;
}

.ldi .leaflet-popup-toolbar svg {
    fill: var(--chakra-colors-black);
}

.ldi .leaflet-toolbar-tip {
    display: none;
}

.ldi .ref-handle {
    margin-left: -4px !important;
    margin-top: -4px !important;
    width: 8px !important;
    height: 8px !important;
    border: none;
    border-radius: 50%;
    background-color: var(--chakra-colors-black);
}
