{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "jsxSingleQuote": true,
    "overrides": [
        {
            "files": "*.css",
            "options": {
                "parser": "css"
            }
        }
    ],
    "parser": "babel",
    "printWidth": 80,
    "proseWrap": "always",
    "requirePragma": false,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "useTabs": false
}
